#start-menu, .menu {
    padding: 48px;
}

#start-menu {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#start-menu .title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#start-menu p {
    font-size: 1.4rem;
}

.menu .left,
.menu .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .left {
    gap: 4rem;
}

.menu .title {
    font-size: 4rem;
}

.menu .right > div {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#count-menu .right > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

#count-menu .right button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    border-radius: 40%;
    font-weight: 700;
    font-size: var(--count-button-font-size);
    height: calc(var(--count-button-font-size) + 1.5rem);
    width: calc(var(--count-button-font-size) + 1.5rem);

    --count-button-font-size: 3rem;
}

#count-display {
    font-weight: 700;
    font-size: 8rem;
    text-align: center;
}

#date-menu .right > div {
    align-items: end;
}

.input-with-label {
    display: flex;
    flex-direction: column;
}