#start-menu, .menu {
    padding: 48px;
}

#start-menu {
    flex-direction: column;
    justify-content: center;
    gap: 4.5rem;
}

#start-menu .title-container {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 0.8rem;
}

#start-menu .title {
    font-size: 5rem;
}

#start-menu p {
    font-size: 1.4rem;
}

.face-button {
    cursor: pointer;
}

.menu .left,
.menu .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu .left {
    gap: 4rem;
}

.menu .title {
    font-size: 4rem;
}

.menu .right > div {
    display: flex;
    justify-content: center;
}

.counter {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.counter button {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0;
    border-radius: 40%;
    font-weight: 700;
    font-size: var(--count-button-font-size);
    height: 1.5em;
    width: 1.5em;

    --count-button-font-size: 3rem;
}

.counter button.bottom:hover {
    box-shadow: var(--dark-shadow-upside-down);
}

.number-display {
    font-weight: 700;
    font-size: 6rem;
    text-align: center;
}

.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-label {
    font-size: 2rem;
}

#date-menu > .right > div {
    align-items: center;
}