#start-menu, .menu {
    padding: 48px;
}

#start-menu {
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
}

#start-menu .title {
    font-size: 5rem;
    margin-bottom: 1rem;
}

#start-menu p {
    font-size: 1.4rem;
}

.menu > div {
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}