#face-panel {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    /* change these values */
    min-width: 100px;
    max-width: 500px;
}

#face-cards {
    flex: 1
}

.face-card {
    display: flex;
    align-items: stretch;
}

.face-name {
    flex: 1;
}