#face-panel {
    flex: 1.2;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 200px;
}

#face-cards {
    flex: 1;
}

.face-card {
    display: flex;
    align-items: stretch;
}

.face-name {
    flex: 1;
}