#face-panel {
    flex: 1.2;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    min-width: 200px;
    color: var(--main-color);
}

#face-cards {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 12px;

    overflow-y: auto;
    padding: 14px 20px 0 20px;
}

.face-card {
    padding: 10px 10px;
    border-radius: 1rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    transition: box-shadow var(--transition-time);
}

.face-card:hover {
    cursor: pointer;
    box-shadow: var(--shadow);
}

.face-card.selected {
    box-shadow: var(--shadow);
}

.face-card form {
    width: 70%;
}

.face-card input {
    width: 100%;
    padding: 4px 8px;
    font-size: 1.2rem;
    text-align: start;
    color: inherit;
    background-color: inherit;
}

.face-card input:hover {
    background-color: var(--hover-main-color);
}

.face-card input:focus {
    background-color: var(--focus-main-color);
}

#modes-control-container {
    border-top: var(--border-line);
    margin: 0 20px 14px 20px;
}