#modes, .dropdown-menu {
    display: flex;
    flex-direction: column;
}

#modes {
    align-items: stretch;
}

#modes-text {
    padding: 10px 0;
}

.dropdown > button, .dropdown-option {
    border-radius: 0px;
    border: 0px solid transparent;
    padding: 0;
    margin: 0;

    text-align: left;

    color: var(--main-color);
    background-color: var(--secondary-color);
}

.dropdown > button, .dropdown-menu {
    width: 100%;
}

.dropdown > button {
    padding: 18px 18px;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 1rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    left: 0;
    bottom: calc(100% + 10px);

    background-color: var(--secondary-color);
    border-radius: 1rem;
    border: 1px solid transparent;
    padding: 10px 0;
    box-shadow: var(--dark-shadow);
}

.dropdown-menu button {
    background-color: transparent;
    padding: 10px 18px;
    transition: background-color var(--transition-time);
}

.dropdown-menu button:hover {
    box-shadow: none;
    background-color: var(--hover-main-color);
}