#scheduler {
    height: 100vh;
    flex: 1;
    display: flex;
}

#calendar, #face-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#calendar {
    flex: 5;
}

#face-panel {
    min-width: 100px;
    max-width: 500px;
    /* change the above values */
    flex: 1;
}

#weekdays {
    display: flex;
}

#weekdays > div {
    flex: 1;
}