#calendar {
    flex: 5;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    overflow: auto;
    border-radius: 30px 0 0 30px;
    background-color: var(--secondary-color);

    transition: box-shadow var(--transition-time);

    --day-disabled: rgb(244, 244, 244);
    --day-free: rgba(255, 255, 255, 0.7);
}

#calendar:hover {
    box-shadow: var(--shadow);
}

#calendar div {
    font-weight: 700;
}

#calendar .title {
    font-size: 3rem;
    font-weight: 800;
    margin: 12px 38px;
}

#weekdays {
    display: flex;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: var(--border-line-lighter);
    font-size: 1.2rem;
}

#weekdays > div {
    flex: 1;
}

#days {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.day {
    padding: 8px;
    box-sizing: border-box;
    text-align: right;
    border-right: var(--border-line-lighter);
    border-bottom: var(--border-line-lighter);
    font-size: 1.1rem;
}

.day.last-day {
    border-right: 0 solid transparent;
}

.day.last-week {
    border-bottom: 0 solid transparent;
}

.day.disabled {
    background-color: var(--day-disabled);
}

.day.pointer:not(.disabled):hover {
    cursor: pointer;
}