#calendar {
    flex: 5;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    --day-disabled: rgba(53, 53, 53, 0.3);
    --day-free: rgba(53, 156, 229, 0.9);
}

#weekdays {
    display: flex;
}

#weekdays > div {
    flex: 1;
}

#days {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.day {
    box-sizing: border-box;
}

.day.disabled {
    background-color: var(--day-disabled);
}