#calendar {
    flex: 5;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    --day-disabled: rgba(53, 53, 53, 0.3);
    --day-free: rgba(53, 156, 229, 0.9);
}

#calendar div {
    font-weight: 700;
}

#calendar .title {
    font-size: 3rem;
    font-weight: 800;
    margin-left: 24px;
    margin-bottom: 8px;
}

#weekdays {
    display: flex;
    text-align: center;
    padding-bottom: 4px;
    border-bottom: var(--border-line);
}

#weekdays > div {
    flex: 1;
}

#days {
    flex: 1;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-auto-rows: 1fr;
}

.day {
    box-sizing: border-box;
    text-align: right;
    border-right: var(--border-line-lighter);
    border-bottom: var(--border-line-lighter);
}

.day.last-day {
    border-right: 0 solid transparent;
}

.day.last-week {
    border-bottom: 0 solid transparent;
}

.day.disabled {
    background-color: var(--day-disabled);
}