#root {
    height: 100vh;
    margin: 0;

    flex: 1;
    display: flex;
    place-items: center;
}

.menu, #scheduler, #start-menu {
    height: 100vh;
    flex: 1;
    display: flex;
}

button,
.title,
#count-display,
.separator,
#calendar div,
#modes-text {
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#scheduler {
    background-color: var(--tertiary-color);
}