:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: rgb(0, 0, 0);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(230, 230, 230);

  --hover-main-color: rgb(235, 235, 235);
  --focus-main-color: rgb(220, 220, 220);
  --hover-secondary-color: var(--hover-main-color);
  --focus-secondary-color: var(--focus-main-color);
  --transition-time: 0.2s;
  --dark-shadow: rgba(23, 15, 0, 0.45) 0 2px 8px;
  --dark-shadow-upside-down: rgba(23, 15, 0, 0.45) 0 -2px 8px;
  --shadow: rgba(156, 156, 156, 0.4) 0 2px 8px;
  --border-line: 2px solid var(--main-color);
  --border-line-lighter: 2px solid rgba(23, 23, 23, 0.125);

  /* OLD COLOURS
  --main-color: rgb(51, 45, 32);
  --hover-main-color: rgb(69, 63, 42);
  --focus-main-color: rgb(86, 80, 60);
  --secondary-color: #fbf9ea;
  --hover-secondary-color: #e8e6d5;
  --focus-secondary-color: #cac6bb;
  --transition-time: 0.2s;
  --shadow: rgba(23, 15, 0, 0.45) 0 2px 8px;
  --shadow-upside-down: rgba(23, 15, 0, 0.45) 0 -2px 8px;
  --dark-shadow: rgba(23, 15, 0, 0.65) 0 2px 8px;
  --border-line: 2px solid var(--main-color);
  --border-line-lighter: 2px solid rgba(23, 15, 0, 0.125);
  "Unsure", "rgba(235, 221, 95, 0.7)"
  "Partially Busy", "rgba(224, 150, 71, 0.7)"
  "Unavailable", "rgba(224, 71, 71, 0.7)"
  */
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
  overflow: hidden;
}

div {
  box-sizing: border-box;
}

svg * {
  stroke: var(--main-color);
}

svg circle {
  fill: var(--main-color);
}

h1, p {
  margin: 0;
}

button, input {
  appearance: none;
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border: 0 solid transparent;
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
  border-radius: 0.4em;
  padding: 0;
}

input {
  transition: background-color var(--transition-time);
}

input:hover {
  background-color: var(--hover-secondary-color);
}

input:focus {
  background-color: var(--focus-secondary-color);
  outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.92em;
  border: 1px solid transparent;
  padding: 12px 20px;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--secondary-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition: box-shadow var(--transition-time);
}
button:hover {
  box-shadow: var(--dark-shadow);
}