:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--main-color);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: rgba(23, 15, 0, 0.87);
  --focus-main-color: rgba(54, 35, 0, 0.87);
  --secondary-color: #fbf9ea;
  --hover-secondary-color: #e8e6d5;
  --focus-secondary-color: #dad7cd;
  --transition-time: 0.2s;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-size: 16px;
}

div {
  box-sizing: border-box;
}

h1, p {
  margin: 0;
}

button, input {
  appearance: none;
  background-color: var(--secondary-color);
  border: 0 solid transparent;
  color: var(--main-color);
  text-align: center;
  font-weight: 700;
  border-radius: 0.4em;
  padding: 0;
}

input {
  transition: background-color var(--transition-time);
}

input:hover {
  background-color: var(--hover-secondary-color);
}

input:focus {
  background-color: var(--focus-secondary-color);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0.92em;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: inherit;
  color: var(--secondary-color);
  background-color: var(--main-color);
  cursor: pointer;
  transition: border-color var(--transition-time), box-shadow var(--transition-time);
}
button:hover {
  box-shadow: rgba(23, 15, 0, 0.45) 0 2px 8px;
}